@import '../components/Menu/styles.module.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e8e5e5;
  --foreground: #171717;
  --color-odd: #181818;
  --color-even: #565656;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --foreground: #ffffff;
    --color-odd: #181818;
    --color-even: #2f2f2f;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Lato;
}

section {
  padding-inline: 4rem;
  padding-top: 9rem;
  height: 100vh;
  scroll-padding-top: 9rem;
  transition: background-color 0.5s ease-in-out; /* Add transition */
}

section:nth-of-type(odd) {
  background-color: var(--color-odd);
}

section:nth-of-type(even) {
  background-color: var(--color-even);
}

section.in-view:nth-of-type(odd) {
  background-color: var(--color-even); /* Swap colors when in view */
}

section.in-view:nth-of-type(even) {
  background-color: var(--color-odd); /* Swap colors when in view */
}

.menu {
  background-color: transparent;
  height: 7rem;
}

h1 {
  font-size: 52px;
  font-weight: 600;
}

h2 {
  font-size: 48px;
  font-weight: 600;
}
